-server
-Xmx1G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:OnOutOfMemoryError=kill -9 %p
-DHADOOP_USER_NAME=hdfs
-Duser.timezone=UTC
-Dhive.config.resources=/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml
-Ds3service.https-only=false
-Ds3service.s3-endpoint=s3localstack
-Ds3service.s3-endpoint-http-port=4572
-Ds3service.disable-dns-buckets=true
-Ds3service.default-bucket-location=EU
-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=8000
